<div style="margin: 10px;">
<h1 style="font: 15px;"> <%= @list.name %></h1>
</div>

<div class="card-product" style="margin: 10px;">
<ul>
  <% @list.movies.each do |movie| %>
  <img src="<%movie.poster_url%>" />
  <li><%= movie.title %>
  <%= movie.rating %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <%= bookmark.comment %>
  <br>
  <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
  <% end %>
</ul>
</div>

<div >
<%= link_to "back to all lists", lists_path, class: "btn btn-gradient" %>
<%= link_to "add bookmark",  new_list_bookmark_path(@list), class: "btn btn-gradient" %>
</div>
